/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.7);
  padding: 10px;
  z-index: 1;
}

.navbar h2 {
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding-top: 10px;

}

.dropdown-content button:hover {
  font-weight: bolder;

}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  margin: 15%;
  transition: background-color 0.3s;
  /* Makes the button round */
  border-radius: 25px;
  /* Ajusta el radio de la esquina para lograr bordes redondos */

  /* Add transition effect */
}

/* Remove hover styles from dropbtn */
.dropdown .dropbtn:hover {
  cursor: pointer;
  font-weight: bolder;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-weight: normal;
}

/* Remove hover styles */
.show {
  display: block;
}

.multicolor {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: black;
}


.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #333;
  /* Background color for the dropdown */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content1.show {
  display: block;
}

.dropdown-content2 button {
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  border: none;
  cursor: pointer;
}

.dropdown-content2 button:hover {
  background-color: #555;
}

.space {
  width: 20px;
  /* Adjust this value as needed */
  display: inline-block;
}